#dm_mg_titletext{
	color:gray;
	position: relative;
	top:140px;
	left:50px;
	font-size: 28pt;
}
#dm_mg_ptext{
	color:white;
	position: relative;
	top:150px;
	left:10px;
	font-size: 18pt;
	z-index:10;
	width:300px;
}
#dm_mg_image{
	width:300px;
	z-index:-1;
}